In [11]:
stats = [i for i in range(100)]
np.mean(stats)
#df['label'] = pd.qcut(df.index, [0.,.1,.2,.3,.4,.5,.6,.7,.8,.9, 1.], labels=[1,2,3,4,5,6,7,8,9,10])

49.5

In [3]:
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr

import datetime as dt

In [5]:
# Read the new data from yahoo finance
# Define variablesÂ 
tickers = ["JPM"]
start = "2019-07-31"
end = "2021-09-27"

df = pd.DataFrame()

# Fetch 'Adj Close' monthly data from 2019-07-31 to 2021-07-30
for ticker in tickers:
    data = pdr.get_data_yahoo(ticker, start=start, end=end, interval='m')
    df[ticker] = data['Adj Close']

In [9]:
df

                   JPM label
Date
2019-08-01  102.591476     1
2019-09-01  109.903435     1
2019-10-01  116.655083     1
2019-11-01  124.028191     2
2019-12-01  131.219864     2
2020-01-01  124.592995     2
2020-02-01  109.998222     3
2020-03-01   85.291016     3
2020-04-01   90.719398     4
2020-05-01   93.145775     4
2020-06-01   90.034851     4
2020-07-01   92.504440     5
2020-08-01   96.837059     5
2020-09-01   93.048233     6
2020-10-01   94.758995     6
2020-11-01  114.992271     6
2020-12-01  123.957153     7
2021-01-01  125.517952     7
2021-02-01  144.598663     8
2021-03-01  149.570267     8
2021-04-01  151.122665     8
2021-05-01  162.320862     9
2021-06-01  153.722504     9
2021-07-01  150.006439    10
2021-08-01  158.991928    10
2021-09-01  162.709534    10